.btn {
  outline: none;
  border: none;
  background: transparent;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.workout__mode {
  background-color: #d7e9f7;
  border: 1px solid #d7e9f7;
}

.diet__mode {
  background-color: #ffe3e3;
  border: 1px solid #d7e9f7;
}

.editBtn {
  color: red;
}
