.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal__normal {
  position: fixed;
  top: 25vh;
  left: 35%;
  width: auto;
  z-index: 100;
  overflow: hidden;
  background-color: #d7e9f7;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: modal-show 0.3s;
}

.modal__diet {
  position: fixed;
  top: 25vh;
  left: 35%;
  width: auto;
  z-index: 100;
  overflow: hidden;
  /* background-color: #c6d57e; */
  background-color: #cbb9e0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: modal-show 0.3s;
}

.header {
  background-color: #fdfaf1;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
}

.header h2 {
  font-size: 18px;
  line-height: 30px;
}

.content {
  padding: 1rem;
  height: auto;
}

.actions {
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.add__btn {
  /* background-color: #f9f3df; */
  margin-left: 10px;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
} */
