.wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  /* height: 1000px; */
  margin: 0 auto;
  position: relative;
}

.wrapper__dietmode {
  background-color: red;
  padding: 0 60px;
  background-color: #c6d57e;
}

.wrapper__normalmode {
  background-color: red;
  padding: 0 60px;
  background-color: #f4d19b;
}
