.calendar__container {
  /* padding: 3rem 5rem 2rem; */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px 30px;
  position: relative;
}

.calendarApp {
  width: 55%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 500px;
  overflow-y: hidden;
}

.first {
  z-index: 20;
}

.second {
  z-index: 20;
  background-color: #fff;
}

/* workout item */

.dateItem {
  margin-top: 66px;
  position: relative;
  height: 400px;
  width: 23%;
  margin: 0 0 20px 150px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 28px;
  border-radius: 14px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.workout__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.norecord__message {
  font-size: 1.2rem;
  margin-top: 20px;
}

.workout__header h2 {
  font-size: 1rem;
}

.guide {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.guide p {
  font-weight: 500;
}

.downward__icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.downward__icon img {
  width: 100%;
  height: 100%;
}

.loginBtn {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

.mapIcon {
  position: relative;
  top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.noAddress {
  pointer-events: none;
}

.mapIcon svg {
  fill: darkslateblue;
  width: 30px;
  height: 30px;
}

.workout__location {
  font-weight: 700;
  font-size: 0.7rem;
}

.workout__img {
  margin: 30px auto 0;
  margin-top: 30px;
  width: 90%;
  height: 50%;
}
.workout__img img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  object-fit: cover;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.editBtn {
  padding: 8px;
}
.photoBtn {
  padding: 8px;
}
.border__photo {
  border: 2px solid rgba(0, 0, 0, 0.75);
  padding: 13px;
  display: inline-block;
  border-radius: 50%;
}

.noEvent {
  height: 30%;
  background-color: #fdfaf1;
}

/* guide */
.guide__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.first__message {
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 30;
  color: #fdfaf1;
  animation: message-first 1s;
}

.second__message {
  position: absolute;
  top: 20%;
  right: 40%;
  z-index: 20;
  color: #fdfaf1;
  animation: message-second 0.3s;
}

.third__message {
  position: absolute;
  bottom: 20%;
  right: 18%;
  z-index: 20;
  color: #fdfaf1;
  animation: message-third 0.3s;
}

.photo__border {
  position: absolute;
  top: -14px;
  left: -13px;
  width: 60%;
  height: 65px;
  border-radius: 50%;
  /* background-color: black; */
  border: 2px solid wheat;
}

@keyframes message-first {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes message-second {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes message-third {
  from {
    opacity: 0;
    margin-bottom: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
