.calendar__container {
  /* padding: 3rem 5rem 2rem; */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px 30px;
  position: relative;
}

.calendarApp {
  width: 55%;
  /* margin-top: 40px; */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 500px;
  overflow-y: hidden;
}

/* workout item */

.dateItem {
  margin-top: 66px;
  position: relative;
  height: 400px;
  width: 25%;
  margin: 0 0 20px 150px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 28px;
  border-radius: 14px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.workout__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workout__header h2 {
  font-size: 1rem;
}
.photoBtn {
  padding: 5px;
  margin-right: 0;
}

.guide {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.downward__icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.downward__icon img {
  width: 100%;
  height: 100%;
}

.loginBtn {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

.mapIcon {
  position: relative;
  top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.mapIcon svg {
  fill: darkslateblue;
  width: 30px;
  height: 30px;
}

.workout__location {
  font-weight: 700;
  font-size: 0.7rem;
}

.workout__img {
  margin: 30px auto 0;
  margin-top: 30px;
  width: 90%;
  height: 50%;
}
.workout__img img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  object-fit: cover;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.editBtn {
  padding: 8px;
}
.noEvent {
  height: 30%;
  background-color: #fdfaf1;
}
