.calendar__container {
  padding: 3rem 5rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding-bottom: 100px; */
}

.calendarApp {
  width: 60%;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  height: 500px;
  overflow-y: hidden;
}

/* workout item */
.dateItem {
  margin-top: 66px;
  position: relative;
  height: 50%;
  width: 25%;
  margin-left: 100px;
  background-color: #fdfaf1;
  /* border: 1px solid black; */
  padding: 28px;
  border-radius: 14px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.workout__header {
  margin-bottom: 30px;
  font-size: 1rem;
}

.mapIcon {
  position: relative;
  top: 10px;
  margin-right: 10px;
}
.mapIcon svg {
  fill: darkslateblue;
  width: 30px;
  height: 30px;
}

.workout__location {
  font-weight: 700;
  font-size: 0.7rem;
}

.workout__img {
  margin: 30px auto 0;
  margin-top: 30px;
  width: 80%;
  height: 40%;
}
.workout__img img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.noEvent {
  height: 30%;
  background-color: #fdfaf1;
}
