.record {
  /* padding: 100px 140px 50px; */
  /* padding: 3rem 5rem 2rem; */
  height: 100%;
}
.record h2 {
  font-size: 42px;
  text-align: center;
  margin-top: 66px;
}

.record__inner {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  /* padding: 50px 0 0; */
  margin: 0 auto;
}

/* Record Form CSS */
.record__form {
  position: relative;
  width: 45%;
  height: 90%;
  padding: 30px 40px 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.form__input {
  height: 34px;
  display: flex;
  align-items: center;
  width: 100%;
}

.input_title {
  margin-right: 40px;
  width: 60px;
}

.form__input > span {
  margin: 0 20px 0 10px;
}

.form__input input,
.form__input textarea {
  /* background-color: #fdf2e5; */
  background-color: rgb(255, 255, 255, 255);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 2px 2px 2px 8px;
}

.form__input > input {
  height: 34px;
}

.form__input:nth-child(1) input {
  width: 160px;
}

.form__input:nth-child(2) input {
  width: 70px;
}

.form__input:nth-child(3) input {
  width: 80%;
}

.file__input {
  height: 12rem;
}

.memo__input {
  height: 6rem;
}

.place__box {
  background-color: rgb(255, 255, 255, 255);
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 34px;
  justify-content: space-between;
}

.place__box div {
  width: 80%;
  display: flex;
  align-items: center;
}

.place__box img {
  cursor: pointer;
  height: 24px;
}

.filebox > input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  top: 50%;
  left: 50%;
}

.preview__Image {
  width: 300px;
  height: 100%;
  background-color: rgb(255, 255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview__box__img {
  width: 100%;
  height: 100%;
}

.image__box__icon {
  height: 24px;
}

.memo__box {
  display: flex;
  flex-direction: column;
}

.form__input textarea {
  height: 100%;
  width: 300px;
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* position: absolute;
  right: 1rem;
  bottom: 1rem; */
}

.place__box > button {
  width: 40px;
  height: 30px;
  font-size: 10px;
  padding-bottom: 1px;
  border-radius: 6px;
  padding: 0 1px;
  color: rgb(37, 37, 37);
  cursor: pointer;
  /* margin-left: 55%; */
}

.enterBtn__active {
  background-color: #d7e9f7;
}

.enterBtn__unactive {
  background-color: #d1d1cf;
  /* margin-left: 80%; */
}

.btn {
  margin-left: 20px;
  margin-right: 0;
  font-weight: 400;
}

.unactive {
  display: none;
}

.err__box {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: auto;
  display: flex;
  padding: 10px;
  color: rgb(241, 57, 57);
  border-radius: 4px;
  font-weight: 600;
}

.err__box > svg {
  fill: rgb(253, 56, 56);
  margin-right: 8px;
}
