.record__select {
  width: 30%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  position: relative;
}

.record__select__wrap {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  margin: auto;
}

.select__header {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.select__header svg {
  margin-left: 10px;
  width: 50px;
  fill: #7cb2db;

  cursor: pointer;
}

.btn {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  margin: 0;
}

.unactive {
  display: none;
}
