ul {
  list-style: none;
  padding-left: 0;
}
.header__container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.main__header {
  width: 100%;
  max-width: 1440px;
  color: #4d4d4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  margin: 0 auto;
  background-color: #fde0b4;
}

.logo {
  font-size: 28px;
  cursor: pointer;
  fill: #4d4d4d;
}

.name {
  /* osition: absolute; */
  /* writing-mode: vertical-rl; */
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav__list {
  display: flex;
  align-items: center;
  width: 13%;
  justify-content: space-between;
}

.nav__item {
  /* margin-left: 25px; */
  cursor: pointer;
  transition: all 0.4 ease-in-out;
}

.selected {
  border-bottom: 3px solid #4d4d4d;
  /* background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px; */
}

.nav__item svg {
  fill: #4d4d4d;
  width: 30px;
  height: 30px;
  pointer-events: none;
}
