ul {
  list-style: none;
  padding-left: 0;
}
.logout__message {
  width: 300px;
  margin: 30px 220px 30px 10px;
  font-size: 1.4rem;
}
.header__container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main__header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  margin: 0 auto;
  background-color: #d7e9f7;
}

.main__header__diet {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  margin: 0 auto;
  background-color: #cbb9e0;
}

.logo {
  font-size: 28px;
  cursor: pointer;
}

.currentpage {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav__list {
  position: relative;
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: flex-end;
}

.nav__item {
  margin: 0 3px;
  cursor: pointer;
  transition: all 0.4 ease-in-out;
}

/* dropdown */
.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  right: -30px;
  width: 100px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 10px;
  display: block;
  text-align: center;
  font-size: 15px;
}

.selected {
  /* border-bottom: 3px solid #383838; */
  text-decoration: underline;
}

.nav__item svg {
  fill: #383838;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.toggleBtn {
  display: none;
  cursor: pointer;
  width: 30px;
}
.toggleBtn img {
  width: 30px;
  cursor: pointer;
}

.show__menu {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 160px;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0;
  transition: 1s;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 20px;
  padding: 30px 10px;
  align-items: flex-start;
}

.show__menu li,
.hide__menu li {
  margin: 5px 20px;
  width: 80px;
  height: 30px;
  vertical-align: middle;
  border-radius: 3px;
}

.hide__menu {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 160px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -180px;
  transition: 1s;
  padding: 20px;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 24px;
  }

  .currentpage {
    font-size: 22px;
  }

  .main__header,
  .main__header__diet {
    padding: 20px 40px;
  }

  .toggleBtn {
    display: block;
  }

  .menu {
    position: relative;
    height: 150px;
    width: 100px;
    top: 0;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    border-bottom: 1px solid #dddddd;
    width: 100px;
    height: 50px;
    margin: 0;
  }

  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 10px;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 22px;
  }

  .currentpage {
    font-size: 18px;
  }

  .main__header,
  .main__header__diet {
    padding: 20px 20px;
  }

  .logout__message {
    width: 280px;
    margin: 10px;
    font-size: 1.4rem;
  }
}
