.home {
  height: 60%;
}

.home__img {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 10%;
}

.home__title {
  position: absolute;
  right: 5%;
  bottom: 20%;
  font-size: 3.6rem;
  font-weight: 600;
}
