.home {
  height: 1000px;
}

.home__img {
  width: 600px;
  position: absolute;
  top: 20%;
  left: 10%;
}

.home__title {
  position: absolute;
  right: 5%;
  bottom: 20%;
  font-size: 60px;
  font-weight: 600;
}
