* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'BalsamiqSans', 'GowunDodum';
  color: #252525;
}

@font-face {
  font-family: 'BalsamiqSans';
  src: url('./fonts/BalsamiqSans-Regular.ttf');
}

@font-face {
  font-family: 'GowunDodum';
  src: url('./fonts/GowunDodum-Regular.ttf');
}
